/*-----------------------MAJOR DIVS*/
/*crimson*/
body{
	text-align: center;
	background-color:crimson;
	overflow: hidden;
	height: 98%;
	position: fixed;
}

/*grey*/
#Overlord{
	/* Set height to device height. */
	height: 98%;
	left: 0.6%;
	right: 0.6%;
	background: url(gifs/magifondo.gif);
	padding: 0%;
	z-index: 0;
	border-style:ridge;
	border-color:darkgray;
	border-width: 0.3em;
}

#Interface{
	position: relative;
	top: 9vh;
	width: 94.5%;
	display: inline-block;
	height: auto;
	font-size: 100%;
}

#Interface2{
	visibility: hidden;
	display: inline-block;
	position: relative;
	top: 9vh;
	width: 94.5%;
	height: auto;
	font-size: 100%;
}

#Interface3{
	display: none;
	position: relative;
	top: 9vh;
	width: 94.5%;
	height: auto;
	margin: auto;
}

/* 3d world */
.webgl {
	position: absolute;
	margin: auto;
	width: 95%;
	height: 95%;
	top:0%;
	bottom:0%;
	left:0%;
	right:0%;
	z-index: 3;
  }





/*-----------------------OUTSIDE OF INTERFACE*/
/*When aspect is less than 0.625 */
#Title{
	position: relative;
	display: block;
	top: 5vh;
	margin-right: auto;
	margin-left: auto;
	width: 75%;
	/* max-width:200px;	 */
}



/* Marquee */
.marquee {
	height: 20px;
	overflow: hidden;
	position: relative;
	background: #000000;
	color: #ffff33;
	border: .2em solid darkgray;
	border-style: ridge;
	top: 1%;
}

@font-face {
	font-family: myFirstFont;
	src: url(fonts/W95FA.otf);
  }

.marquee p {
	position: absolute;
	font-size: 15px;
	width: 28em;
	height: 15px;
	margin: 0;
	line-height: 20px;
	text-align: center;
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-moz-animation: scroll-left 2s linear infinite;
	-webkit-animation: scroll-left 2s linear infinite;
	animation: scroll-left 10s linear infinite;
	font-family: myFirstFont;
}

#OKAY{
	display: inline-block;
	position: absolute;
	width: 6%;
	left: 102%;
	top: 0%;
	z-index: 5;
}





/*-----------------------INTERFACE ITEMS*/

/* When aspect is less than 0.625 */
#Computer{
	position: relative;
	margin: auto;
	width: 100%;
	z-index: 5;
	pointer-events: none;
}


/*CRT Overlay*/
#overlay2 {
	position:absolute;
	top:17%; bottom:12%; left:10%; right:10%;
	display:block;
	z-index:6;
	background:transparent;
	pointer-events: none;
}

#overlay4{
	position: absolute;
	top: 18.7%;
  bottom: 12.3%;
  left: 10%;
  right: 10%;
	display: block;
	background-image: url(gifs/AnimatedBackGroundSky.gif);
    overflow: scroll;
    background-size: cover;
	pointer-events: all;
}

#Socials{
	position: absolute;
	left: 13%;
	top: 55%;
	bottom: 16.2%;
	width: 20%;
	display: block;
	z-index: 8;
	font-size:82%; /*percentages don't work for fonts. use vw*/
	font-style: italic;
	text-shadow: 1px 1px black;
	background-color:crimson;
	text-align: left;
	border-style:inset;
	border-color: black;
	border-width: medium;
}

/*Buttons svg */
#Buttons{
    display: inline-block;
    position: absolute;
    margin: auto;
    width: 75%;
    left: 12%;
    top: 24%;
    z-index: 7;
}

/* Container for html buttons */
#Listen{
	left: 12.8%;
    top: 24.4%;
    width: 73.3%;
    height: 20.5%;
    display: inline-block;
    position: absolute;
    z-index: 8;
}

/*html button, sets style of all button anchors*/
.Transparent{
	background: transparent;
    border: none;
    color: transparent;
    width: 32%;
    height: 50%;
	cursor: pointer;

}

/* The following id's affect the position of each button */
#Spotify{position: absolute; top: 0%; left: 0%;}
#Apple{position: absolute; top: 0%; left: 34%;}
#Youtube{position: absolute; top: 0%; left: 67.7%;}
#Tidal{position: absolute; top: 65%; left: 16.1%;}
#Bandcamp{position: absolute; top: 65%; left: 50%;}


#sociallink{
	position: relative;
	margin-left: 2%;
}

#Cover{
	display: inline-block;
	position: absolute;
	width: 21%;
	left: 65%;
	top: 57%;
	z-index: 7;
	animation: tilt linear 5s infinite;
	box-shadow: 0 0 10px #222222;
	}

/*Cover animation*/
@keyframes tilt {
	0%{
		transform: skewY(10deg);
	}
	50%{
		transform: skewY(-10deg);
	}
	100%{
		transform: skewY(10deg);
	}
	
}







/*-----------------------MEDIA QUERIES*/
@media only screen and (min-width: 2000px){
	body{
		text-align: center;
		background-color:crimson;
		overflow: hidden;
		height: 98vh;
	}
	#Overlord{
		
		/* Set height to device height. */
		height: 97vh;
		/* overflow: hidden; */
		position: relative;
		/* Background image (unblurred) centering and cropping */
		background-color: mediumblue;
		
		/* Center div */
		padding: 0%;
		z-index: 0;
		border-style:ridge;
		border-color:lightgray;
		border-width: thick;
	}
	.marquee {
		height: 20px;
		overflow: hidden;
		position: relative;
		background: #000000;
		color: #ffff33;
		border: 2px solid gray;
		border-style: ridge;
		top: 1%;
		border-width: thick;
	}
}


#overlay3{
	position:absolute;
	top:17%; bottom:12%; left:10%; right:10%;
	display:block;
	background:transparent;
}

#Navigation{
	position: absolute;
	z-index: 100;
	bottom: 1.5vh;
	width: 99%;
	margin: auto;
	left: -0.6%;

}



@media only screen and (min-aspect-ratio: 5/8) {

	body{
		text-align: center;
		background-color:crimson;
		overflow: hidden;
		height: 98vh;
		position: relative;
	}

	#Interface{
		position: relative;
		top: 9vh;
		height: 50%;
		display: inline-block;
		width: auto;

	}

	#Interface2{
		visibility: hidden;
		position: relative;
		top: 9vh;
		height: 50%;
		display: inline-block;
		width: auto;

	}



	#Title{
		position: relative;
		display: block;
		top: 5vh;
		margin-right: auto;
		margin-left: auto;
		height: 30%;
		width: auto;
	}

	#Socials{
		position: absolute;
		left: 14%;
		top: 53%;
		bottom: 12.5%;
		width: 12vh;
		display: block;
		z-index: 8;
		font-size:2.6vh; /*more than 0.625, font based on height*/
		font-style: italic;
		border-style:inset;
		margin-left: 1%
	}

	#Computer{
		position: relative;
		top: 3%;
		margin: auto;
		height: 100%;	
		z-index: 5;
		width: auto;
		pointer-events: none;
	}

	#overlay2 {
		position:absolute;
		top:22%; bottom:8%; left:10%; right:10%;
		display:block;
		z-index:6;
		background:transparent;
		pointer-events: none;  
	}

	#overlay3 {
		position:absolute;
		top:21%; bottom:8%; left:10%; right:10%;
		display:block;
		z-index:5;
		background:transparent;
	}

	.ComputerLoading{
		position: absolute;
		top: 3%;
		margin: auto;
		height: 100%;	
		z-index: 11;
		width: auto;
	}

	#Navigation{
		position: absolute;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		left: 1%;
		top: 38%;
		width: 20%;
	}

	#Interface3{
		position: relative;
		top: 9vh;
		height: 50%;
		display: none;
		width: auto;
	}

    #overlay4 {
		position:absolute;
		top:22%; bottom:8%; left:10%; right:10%;
		z-index:5;
		background:url(gifs/AnimatedBackGroundSky.gif);
		overflow: scroll;
		
	}
}




/* Marquee Animation */
@-moz-keyframes scroll-left {
	0% {
		-moz-transform: translateX(200%);
	}
	100% {
		-moz-transform: translateX(-100%);
	}
}

@-webkit-keyframes scroll-left {
	0% {
		-webkit-transform: translateX(200%);
	}
	100% {
		-webkit-transform: translateX(-100%);
	}
}

@keyframes scroll-left {
	0% {
		-moz-transform: translateX(200%);
		-webkit-transform: translateX(200%);
		transform: translateX(200%);
	}
	100% {
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}


/*Temporary Refresh Fix*/
#Refresh{
	position: absolute;
	z-index: -50;
	left: 50%;
	right: 50%;
	font-family: myFirstFont;
	font-size: 5vh;
}


/*Listen links hover settings*/
#Spotify:hover{	
	transition: 0.2s ease-in;
	background-color: green;
	opacity: 25%;}
#Apple:hover{	
	transition: 0.2s ease-in;
	background-color: blue;
	opacity: 25%;}
#Youtube:hover{	
	transition: 0.2s ease-in;
	background-color: red;
	opacity: 25%;}
#Tidal:hover{	
	transition: 0.2s ease-in;
	background-color: black;
	opacity: 25%;}
#Bandcamp:hover{	
	transition: 0.2s ease-in;
	background-color: skyblue;
	opacity: 25%;}

/*socials hover settings*/
a:link{
	color: #3366CC;
}
a:hover{
	color: #0645AD;
}
a:visited{
	color: #0645AD;
}
 



/* --------------------New Shit */


.ComputerLoading{
	position: absolute;
	margin: auto;
    width: 100%;	
	z-index: 11;
}

#modelTitle {
	position: absolute;
	left: 5%;
	top: 1%;
	font-size:82%; /*percentages don't work for fonts. use vw*/
	font-style: italic;
	text-shadow: 1px 1px black;
	color: yellow;
	z-index: 10;
}


#prevmodel{
	background: url(gifs/backred.gif);
	position: absolute;
	top:80%;
	left: 3%;
	z-index:10;
	width: 34px;
	height: 24px;
	border:none;
}

#nextmodel{
	background: url(gifs/nextred.gif);
	position: absolute;
	top:80%;
	right: 3%;
	z-index:10;
	width: 34px;
	height: 24px;
	border:none;
}

#ThreeDimInterface{
	background: url(images/click.gif);
	background-size: cover;
	width: 68px;
	height: 30px;
	border: none;
}

#PowerButton{
	background: url(gifs/buttonclick.gif);
	background-size: cover;
	width: 39px;
	height: 39px;
	border: none;
}

#LinksInterface{
	background: url(gifs/coollinks.gif);
	background-size: cover;
	width: 54px;
	height: 35px;
	border: none;
}

#Lyrics{
	background: url(gifs/cdrom.gif);
	background-size: cover;
	width: 34px;
	height: 34px;
	border: none;
}

#Mail{
	background: url(gifs/emailus.gif);
	background-size: cover;
	width: 40px;
	height: 40px;
	border: none;
}

#Guestbook{
	background: url(gifs/sun_shine_GuestBook.gif);
	background-size: cover;
	width: 45px;
	height: 45px;
	border: none;
}

#Merch{
	background: url(gifs/chinmerch.gif);
	background-size: cover;
	width: 45px;
	height: 45px;
	border: none;
}

#Flamebar{
	width: 100%;
	bottom: -1%;
	z-index: 9;
	position: absolute;
	left: 0%;
}

/* switches from vw to vh at the the aspect threshold. 3.125/5 = 0.625 */
.songs{
    font-size: min(5vw, 3.125vh);
    color: yellow;
    font-style: italic;
    text-shadow: .1em .1em darkslategray;
}

.songs:hover{
    color:dodgerblue;
    text-shadow: .1em .1em darkslategray;
}

#songlist{
    margin-left: 2%;
	margin-top: 0;
	text-align: justify;
	margin-bottom: 0;
}

#scroll{
    position: absolute;
    width: 6.56%;
    height: 10%;
    top: 85%;
    left: 90%;
}

#chair{
    position: relative;
    width: 17%;
    height: 17%;
    top: -10%;
    left: -15%;
    z-index: 0;
}

#turner{
    position: relative;
    width: 25%;
    height: 25%;
	left: -7%;
    bottom: 7%;
    z-index: 1;
}

#ad1{
    position: relative;
    width: 35%;
    height: 35%;
    top: -4%;
    left: 7%;
    z-index: 1;
}

#candle1{
    position: absolute;
    width: 17.79%;
    height: 30%;
    top: 8%;
    left: 65%;
}

#poems{
	position: relative;
	left: 0%;
	top: 2.5%;
	width: 80%;
}




